@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
    --foreground-light: rgba(23, 23, 23, 0.075);
    --content: #555555;
    --border: #dadada;

    --neutral-light: #ededed;
    --primary: #1990C6;
    --primary-md: #38527B;
    --primary-sm: #586e8f;
    --white: #FFF;
}

[data-theme='dark'] {
    /* --background: #0a0a0a; */
    --background: #1f1f1f;
    --foreground: #ededed;
    --foreground-light: rgba(237, 237, 237, 0.175);
    --content: rgba(255, 255, 255, 0.75);
    --border: #52525B;

}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-foreground-light: var(--foreground-light);
    --color-content: var(--content);
    --color-border: var(--border);

    --color-neutral-light: var(--neutral-light);
    --color-primary: var(--primary);
    --color-primary-md: var(--primary-md);
    --color-primary-sm: var(--primary-sm);
    --color-white: var(--white);
    --font-rubik: var(--font-rubik);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-rubik);
    overflow-x: hidden;
}

@layer utilities {
    .wrapper {
        @apply container mx-auto px-5;
    }

    .background-image {
        background: center/cover;

        @apply absolute top-0 left-0 h-full w-full;

        &::after {
            content: '';
            /* background: linear-gradient(to bottom, rgba(10, 10, 10, 0.85), rgba(10, 10, 10, 0.25), rgba(10, 10, 10, 1)); */
            background: linear-gradient(to bottom, rgba(31, 31, 31, 0.85), rgba(31, 31, 31, 0.25), rgba(31, 31, 31, 1));

            @apply absolute top-0 left-0 h-full w-full;
        }
    }

    .background-image-nf {
        background: center/cover;
    }

    .animated-link {
        @apply flex items-center gap-2;

        &:hover> :is(svg, img) {
            transform: translateX(25%);
        }
    }
}